<!-- navbar -->
<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item" *ngIf="config.results">
                <a routerLink="/results" routerLinkActive="active" class="nav-link" data-value="results" href="#">Programa</a>
            </li>
            <li class="nav-item" *ngIf="config.schedule">
                <a routerLink="/schedule" routerLinkActive="active" class="nav-link" data-value="schedule" href="#">Programa</a>
            </li>
            <li class="nav-item" *ngIf="config.regulation">
                <a routerLink="/regulation" routerLinkActive="active" class="nav-link " data-value="regulation" href="#">Regulamento</a></li>
            <li class="nav-item" *ngIf="config.submission">
                <a routerLink="/submission" routerLinkActive="active" class="nav-link " data-value="submission" href="#">Inscrições</a></li>
            <li class="nav-item" *ngIf="config.tracks">
                <a routerLink="/tracks" routerLinkActive="active" class="nav-link " data-value="tracks" href="#">Percursos</a>
            </li>
            <li class="nav-item" *ngIf="config.location">
                <a routerLink="/location" routerLinkActive="active" class="nav-link " data-value="location" href="#">Localização</a>
            </li>
            <li class="nav-item" *ngIf="config.contacts">
                <a routerLink="/contacts" routerLinkActive="active" class="nav-link " data-value="contacts" href="#">Contactos</a>
            </li>
        </ul>
    </div>
</nav>
<header>
    <introduction></introduction>
    <entities></entities>
</header>
<main>
    <results *ngIf="config.results"></results>
    <schedule *ngIf="config.schedule"></schedule>
    <regulation *ngIf="config.regulation"></regulation>
    <submission *ngIf="config.submission"></submission>
    <tracks *ngIf="config.tracks"></tracks>
    <location *ngIf="config.location"></location>
    <contacts *ngIf="config.contacts"></contacts>
</main>
